@{
    ViewData["Title"] = "О нас";
}

<section class="contact spad">
    <div class="container">
        <div class="row">
            <h2>Пушистин — это интернет-магазин по продаже зоотоваров для самых разных животных!</h2>
            <p style="margin-top: 20px; font-size: 22px;">У нас вы найдете все, что нужно вашим любимцам: еду высочайшего качества, изысканные лакомства, игрушки для развлечения и тренировок, мягкие и удобные спальные места, одежду и аксессуары для комфорта и здоровья. Наша команда экспертов по зоотоварам тщательно отбирает продукты мировых брендов, чтобы обеспечить максимально возможный уровень качества. В нашем каталоге вы найдете разнообразие продуктов для животных любых пород и размеров. Поэтому мы предлагаем доступные цены и регулярные акции и скидки. Мы с удовольствием поможем вам выбрать и заказать товары для вашего любимца, а наша быстрая и удобная доставка заставит вас забыть обо всех проблемах. Благодаря нам, ваше животное всегда будет здоровым, счастливым и находиться в надежных руках!</p>
        </div>
    </div>
</section>


<!-- Contact Section Begin -->
<section class="contact spad" style="padding-bottom: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_phone"></span>
                    <h4>Телефон</h4>
                    <p>+375 (44) 123-23-23</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_pin_alt"></span>
                    <h4>Адрес</h4>
                    <p>г. Гомель, пр-т. Ленина 20</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_clock_alt"></span>
                    <h4>Время работы</h4>
                    <p>с 8:00 до 18:00</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_mail_alt"></span>
                    <h4>Email</h4>
                    <p>pushistin@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->

