@{
    ViewData["Title"] = "FAQ";
}
@model IEnumerable<Models.Product>

<section class="categories">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="accordion">
                    <h1>Ответы на часто задаваемые вопросы</h1>
                    <ul>
                        <li>
                            <input type="checkbox" checked>
                            <i></i>
                            <h2>Куда вы можете доставить заказ?</h2>
                            <p>Мы осуществляем доставку по всем областным центрам Беларуси курьером. В остальные места доставка осуществляется белпочтой.</p>
                        </li>
                        <li>
                            <input type="checkbox" checked>
                            <i></i>
                            <h2>Какая стоимость доставки?</h2>
                            <p>При заказе до 40 рублей стоимость доставки 10 рублей. При заказе от 40 рублей, доставка бесплатная.</p>
                        </li>
                        <li>
                            <input type="checkbox" checked>
                            <i></i>
                            <h2>Какие способы оплаты?</h2>
                            <p>Имеется три способа оплаты: безналичный и наличный расчет при получении, а так же картой онлайн.</p>
                        </li>
                        <li>
                            <input type="checkbox" checked>
                            <i></i>
                            <h2>Как узнать что товар в наличии?</h2>
                            <p>Если товар отсутствует на складе, вы будете об этом уведомлены.</p>
                        </li>
                        <li>
                            <input type="checkbox" checked>
                            <i></i>
                            <h2>Какие товары вы продаете в вашем интернет-магазине зоотоваров?</h2>
                            <p>Мы продаем широкий ассортимент зоотоваров, включая корма, игрушки, одежду, аксессуары, мебель, средства гигиены и многое другое для кошек, собак, грызунов, рыб, птиц и других домашних животных.</p>
                        </li>
                        <li>
                            <input type="checkbox" checked>
                            <i></i>
                            <h2>Как быстро я получу свой заказ?</h2>
                            <p>Если вы заказываете в областной центр, то заказ вы получите сегодня или утром следующего дня. В остальных случаях сроки зависят от белпочты (как правило 1-3 рабочих дня).</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>