@page "/admin/products/details/{id:long}"
@using pushistin.Core.Repositories;

<h3 class="bg-light border-bottom box-shadow text-center p-1">Подробнее</h3>
<div class="row">
<div class="col">
    <table class="table table-sm table-bordered table-striped">
        <tbody>
            <tr><th>ID</th><td>@Product?.ProductID</td></tr>
            <tr><th>Название</th><td>@Product?.Name</td></tr>
            <tr><th>Бренд</th><td>@Product?.Brand</td></tr>
            <tr><th>Описание</th><td>@Product?.Description</td></tr>
            <tr><th>Питомец</th><td>@Product?.Pet</td></tr>
            <tr><th>Категория</th><td>@Product?.Category</td></tr>
            <tr><th>Вес</th><td>@Product?.Weight</td></tr>
            <tr><th>В наличии?</th><td>@Product?.IsStock</td></tr>
            <tr><th>Цена</th><td>@Product?.Price.ToString("C")</td></tr>
        </tbody>
            
    </table>
</div>
<div class="col">
    @if (Product.ByteImage != null)
    {
            <img style="width:350px;height:350px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Product.ByteImage))">
    }
    else
    {
            <img style="width:350px;height:350px; object-fit:cover" src="">
    }
</div>
</div>
<NavLink class="btn btn-warning" href="@EditUrl">Изменить</NavLink>
<NavLink class="btn btn-secondary" href="/admin/products">Назад</NavLink>

@code {

    [Inject]
    public IStoreRepository? Repository { get; set; }

    [Parameter]
    public long Id { get; set; }

    public Product? Product { get; set; }

    protected override void OnParametersSet() {
        Product = Repository?.Products.FirstOrDefault(p => p.ProductID == Id);
    }

    public string EditUrl => $"/admin/products/edit/{Product?.ProductID}";
}
