@page "/admin"
@{  Layout = "/Views/Shared/_Layout.cshtml"; }
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Policy = "RequireAdmin")]

<!DOCTYPE html>
<html>
<head>
    <title>Администрирование</title>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <base href="/" />  
</head>
<body>    
    <component type="typeof(Routed)" render-mode="Server" />
    <script src="/_framework/blazor.server.js"></script>
</body>
</html>
