@{
    ViewData["Title"] = "Ошибка";
    Layout = null;
}



<div class="container">
    <div class="row">
    <div class="col align-self-center">
        <h2>@ViewData["Error"]</h2>
    </div>
    <div class="col align-self-center">
        <img src="~/img/cat.svg" style="width: 100px; height=100px;" />
    </div>
    </div>
</div>