@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Восстановление доступа к аккаунту";
}

<div class="identity-form spad">
    <div class="row">
        <div class="col-lg-12">
            <section class="identity__form__title">
                <h2>Пожалуйста, проверьте вашу почту для сброса пароля.</h2>

            </section>
        </div>
    </div>
</div>
