@page
@model LockoutModel
@{
    ViewData["Title"] = "Ошибка";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Данный аккаунт временно отключен, попробуйте позже.</p>
</header>
